{% extends 'base/base.html.twig' %}

{% block body_id %}layout{% endblock %}

{% block interface %}layout{% endblock %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('layout') }}
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('layout') }}
{% endblock %}

{% block body %}
    <div class="{% block layout_class %}contain{% endblock %}">
        {% block layout %}{% endblock %}
    </div>
{% endblock %}