<div class="banner">
    <img class="img-banner" src="{{ vich_uploader_asset(banner, 'imageFile') }}" alt="{{ banner.imageName }}">
    <div class="banner-body">
        <div class="title">{{ banner.title }}</div>
        <p class="description">{{ banner.description }}</p>
    </div>
</div>