<div class="">
    <p class="username">{{ comment.username }}</p>
    <p class="email">{{ comment.email }}</p>
    <p class="published"><em>Publié le : {{ comment.publishedAt|date('j F Y') }}</em></p>
</div>

<div class="content">{{ comment.content | raw }}</div>