#layout {}

/*================================== post-edit =======================================*/
/*=================================================================================*/
#layout .author {
    width: 85%;
    margin: 2rem auto;
}

.author .contain {}


/*================================= security ======================================*/
/*=================================================================================*/
#layout .login {
    width: 30%;
    margin: 4rem auto
}

.login .title {
    margin-bottom: 2rem;
}

.login .form-row {
    margin: 20px 0;
}