#main-interface .main {
    width: 65%;
    margin: auto;
}

#main-interface .main .contain {
    width: 100%;
}

#main-interface .main .banner {
    width: 100%;
    height: auto;
    position: relative;
}

#main-interface .banner .img-banner {
    width: 100%;
    height: auto;
    z-index: 400;
}

#main-interface .banner .banner-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 500;
}

#main-interface .banner .title {
    color: #FFFFFF;
}

#main-interface .banner .description {
    color: #FFFFFF;
}

#main-interface .contain .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#main-interface .contain .post-content {
    position: relative;
    width: 65%;
    margin: 3rem 0;
}

#main-interface .contain .sidebar {
    width: 30%;
    margin: 3rem 0;
}

/*================================ home =======================================*/
/*=============================================================================*/
.home .post-content .card {
    margin: 1.5rem 0;
}

.home .post-content .btn-posts {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    top: 0;
    right: 0;
    left: 64.5%;
}


/*============================== articles =====================================*/
/*=============================================================================*/
.blog .grid .card {
    margin: 2rem 0;
}

.blog .post-content .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: flex-end;
}

/*================================ post =======================================*/
/*=============================================================================*/
.post .post-content {
    margin-top: 2rem;
}

.post .post-content .summary {
    background-color: lightgray;
    padding: 1.2rem;
    font-size: .9rem;
}

.post .post-content .article {
    border: 1px solid darkgray;
    padding: 15px;
}


/*================================ articles =======================================*/
/*=============================================================================*/